
<footer class="footer">
    <div class="redes">
        <a class="icono-red" href="https://www.youtube.com/">
            <i class="fab fa-youtube"></i>
        </a>
        <a class="icono-red" href="https://www.facebook.com/">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="icono-red" href="https://www.instagram.com/">
            <i class="fab fa-instagram-square"></i>
        </a>
        <a class="icono-red" href="https://twitter.com/">
            <i class="fab fa-twitter-square"></i>
        </a>
    </div>
    <nav class="menu-footer">

        <i class="fas fa-caret-down"></i>
        <a type="button" style="display: block;"></a>

        <div class="lista-footer">
            <div class="ul-principal">
                <h4>Principal</h4>
                <ul type="none">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/contacto">Cantacto</a></li>
                    <li><a href="/publicar">Publicar</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
            <div class="ul-secciones">
                <h4>Secciones</h4>
                <ul type="none">
                    <li><a href="/ofertas">Ofertas próximas</a></li>
                    <li><a href="/escapadasCercanas">Escapadas Cercanas</a></li>
                    <li><a href="/sorteos">Sorteos</a></li>
                    <li><a href="/feriados">Feriados</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="legales">
        <i class="far fa-copyright">
            <p>2021 Copyright</p>
        </i>
        <p>Condiciones</p>
    </div>
</footer>