
<header class="main-header">
    <div class="top-bar">
        <input type="checkbox" id="main-hamburger">
        <label for="main-hamburger"><i class="fas fa-bars"></i>
        </label>
        <nav class="menu-hamburger">
            <ul>
                <li><a href="/login">Inicio sesión</a></li>
                <li><a href="/register">Registrate</a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="">Ofertas próximas</a></li>
                <li><a href="">Escapadas Cercanas</a></li>
                <li><a href="">Guías turísticas</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Publicar</a></li>
            </ul>
        </nav>

        <div class="logo-completo">
            <img src="/images/logo-casas-alquiler.jpg" alt="" class="logo">
            <h1 class="nombre-logo">Serena</h1>
        </div>
        <a href="/productCart" class="icono-carrito">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <div class="accesos">
            <a href="/login" class="login">Logueate</a>
            <a href="/register" class="register">Registrate</a>
        </div>
    </div>
</header>