<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %>
<link rel="stylesheet" href="/css/index.css">


<body>
    
    <%- include ('partials/header') %>

    <section class="main-body">
       <!--  

        <div class="sub-main-body">
            <p class="donde"><i class="fas fa-search-location"></i>A donde vamos?</p>
            <p class="cuando"><i class="far fa-calendar-alt"></i>Cuando?</p>
            <p class="cuantos"><i class="fas fa-user-check"></i></i>Cuantos somos?</p>
            <p id="buscar">Buscar</p>
        </div>
        --> 

        <form action="" method="POST" class="formBuscar">
            <input type="text" name="donde" placeholder=" A donde vamos?" class="inp1">
            <input type="date" name="fecha" class="inp2">
            <select name="cuantos" class="inp3">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4 o más</option>
            </select>
            <button type="submit" id="buscar">Buscar</button>
        </form>


        <h3 class="titulo-ofertas">Ofertas destacadas</h3>
        <div class="ofertas-destacadas">

            <article class="oferta-destacada-1">
                <a href="/productDetail">22% Off</a>
            </article>
            <article class="oferta-destacada-2">
                <p>15% Off</p>
            </article>
            <article class="oferta-destacada-3">
                <p>12% Off</p>
            </article>
            <article class="oferta-destacada-4">
                <p>10% Off</p>
            </article>

        </div>



        <h3 class="titulo-destinos">Destinos destacados</h3>
        <div class="destinos-destacados">
            <article class="destindo-destacado-1">
                <p>Mar del plata</p>
            </article>
            <article class="destindo-destacado-2">
                <p>Cariló</p>
            </article>
            <article class="destindo-destacado-3">
                <p>Villa Gessel</p>
            </article>
            <article class="destindo-destacado-4">
                <p>Las Grutas</p>
            </article>
        </div>

    </section>


    <form action="" method= "POST" class="suscripcion">
        <input type="email" placeholder="Ingresar e-mail">
        <button type="submit">Enviar</button>
    </form>

    <%- include ('partials/footer') %>

    
</body>

</html>