<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/login.css">

<body>
    <%- include ('partials/header') %>

    <section class="form">
        <form method="POST" action="/" class="register">
                <div class="control-formulario">
                    <input type="email" placeholder="E-mail" name="email" class="control" required>
                </div>            
                <div class="control-formulario">
                    <input type="password" placeholder="password" name="contraseña" class="control" required minlength="3">
                </div>            
                <div class="control-formulario">
                        <label for="recordatorio de cuenta"></label>
                        <input type="checkbox" name="recordatorio" id="recordatorio de cuenta">Recuérdame
                </div>
                        
                <div class="buttons">
                    <button type="submit" class="boton-formulario">Acceder</button>
                    <button type="submit" class="boton-formulario">Ingresa con facebook</button>
                    <button type="submit" class="boton-formulario">Ingresa con google</button>
                    <button type="submit" class="boton-formulario">Registrarse</button>
                    <a href=" ">¿olvido su contraseña?</a>
                </div>
        
            </form>        
        </section>
    
        <%- include ('partials/footer') %>

    </body>
    
    </html>