<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">

<body>
  
    <%- include ('partials/header') %>

    <main class="container">
        <div class="container-all">

            <input type="radio" id="1" name="image-slide" hidden/>
            <input type="radio" id="2" name="image-slide" hidden/>
            <input type="radio" id="3" name="image-slide" hidden/>

            <div class="slide">

                <div class="item-slide">
                    <img src="/images/foto1.jpg">
                </div>

                <div class="item-slide">
                    <img src="/images/foto2.jpg">
                </div>

                <div class="item-slide">
                    <img src="/images/foto3.jpg">
                </div>

            </div>

            <div class="pagination">
            
                <label class="pagination-item" for="1">
                    <img src="/images/foto1.jpg">
                </label>
                
                <label class="pagination-item" for="2">
                    <img src="/images/foto2.jpg">
                </label>
                
                <label class="pagination-item" for="3">
                    <img src="/images/foto3.jpg">
                </label>
                
            </div>
        
        </div>

        <section class="datos">
            <article class="resumen">
                <h4>Alquiler en Mar del Plata</h4>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="comentario">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat, veniam non sequi commodi maxime debitis rem cupiditate fugiat iste quidem quo sapiente? Id assumenda vel labore nulla perspiciatis animi.</p>
                <div class="services">
                    <i class="fas fa-swimmer"></i>
                    <i class="fas fa-wifi"></i>
                    <i class="fas fa-utensils"></i>
                    <i class="fas fa-car"></i>
                </div>
            </article>
            <article class="condiciones">
                <p class="precio">$3.000 por noche</p>
                <p class="precio-tot">$18.000 total</p>
                <p class="fecha">1 al 10 de Marzo</p>
                <p class="personas">2 adultos 2 menores</p>
                <a href="/productCart" type="button">Alquilar</a>
            </article>
        </section>

        <section class="ubicacion">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.8493991440587!2d-58.10219208504353!3d-34.860011278610344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2d93cdc752b11%3A0xd9db3831014894a9!2sCalle%20411%201873%2C%20Villa%20Elisa%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1616695837029!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
        <section class="conditions">
            <h4>Condiciones</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti ut neque provident ullam, voluptates consectetur, consequuntur assumenda amet temporibus maxime, deserunt doloribus sit ducimus vitae necessitatibus soluta illum nobis!</p>
        </section>


    </main>

    <%- include ('partials/footer') %>

</body>
</html>
