<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <script src="https://kit.fontawesome.com/da86db1aac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Alquier de casas</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <input type="checkbox" id="main-hamburger">
            <label for="main-hamburger"><i class="fas fa-bars"></i>
            </label>
            <nav class="menu-hamburger">
                <ul>
                    <li><a href="/login">Inicio sesión</a></li>
                    <li><a href="/register">Registrate</a></li>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Ofertas próximas</a></li>
                    <li><a href="">Escapadas Cercanas</a></li>
                    <li><a href="">Guías turísticas</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Publicar</a></li>
                </ul>
            </nav>

            <div class="logo-completo">
                <img src="/images/logo-casas-alquiler.jpg" alt="" class="logo">
                <h1 class="nombre-logo">Serena</h1>
            </div>
            <a href="/productCart" class="icono-carrito">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="accesos">
                    <a href="/login" class="login">Logueate</a>
                    <a href="/register" class="register">Registrate</a>
            </div>
        </div>
    </header>
    <section>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ab
        similique ullam, at saepe nesciunt eum aspernatur cumque illum officiis
        tenetur? Exercitationem expedita adipisci, eaque inventore eligendi facere neque obcaecati.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ab
        similique ullam, at saepe nesciunt eum aspernatur cumque illum officiis
        tenetur? Exercitationem expedita adipisci, eaque inventore eligendi facere neque obcaecati.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ab
        similique ullam, at saepe nesciunt eum aspernatur cumque illum officiis
        tenetur? Exercitationem expedita adipisci, eaque inventore eligendi facere neque obcaecati.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ab
        similique ullam, at saepe nesciunt eum aspernatur cumque illum officiis
        tenetur? Exercitationem expedita adipisci, eaque inventore eligendi facere neque obcaecati.
    </section>
    <footer class="footer">
        <div class="redes">
            <a class="icono-red" href="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="icono-red" href="https://www.facebook.com/">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="icono-red" href="https://www.instagram.com/">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a class="icono-red" href="https://twitter.com/">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
        <nav class="menu-footer">

            <i class="fas fa-caret-down"></i>
            <a type="button" style="display: block;"></a>

            <div class="lista-footer">
                <div class="ul-principal">
                    <h4>Principal</h4>
                    <ul type="none">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/contacto">Cantacto</a></li>
                        <li><a href="/publicar">Publicar</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
                <div class="ul-secciones">
                    <h4>Secciones</h4>
                    <ul type="none">
                        <li><a href="/ofertas">Ofertas próximas</a></li>
                        <li><a href="/escapadasCercanas">Escapadas Cercanas</a></li>
                        <li><a href="/sorteos">Sorteos</a></li>
                        <li><a href="/feriados">Feriados</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="legales">
            <i class="far fa-copyright">
                <p>2021 Copyright</p>
            </i>
            <p>Condiciones</p>
        </div>
    </footer>
</body>

</html>